<div class="title">
  <h1>M3OTIS Chat Application</h1>
</div>

<div class="container chat">
  <div class="row">
    <div class="col-12 p-0 content">
      <div id="divMessages" class="messages"></div>
    </div>
  </div>
  <div class="row">
    <div class="col-12 p-0">
      <div class="input-zone input-group">
        <div class="input-group-prepend">
          <span class="input-group-text">Message: </span>
        </div>
        <input
          id="tbMessage"
          class="input-zone-input form-control"
          type="text"
        />
        <button id="btnSend" type="button" class="btn btn-info">Send</button>
      </div>
    </div>
  </div>
</div>
